body{
    background-color: rgb(172, 177, 179);
}

.jumbotron {
    background-color: rgb(89, 91, 241);
    text-align: center;
    margin-top: 50px;
}
i{
    color: black;
}

.card-hotel {
    flex: 1 250px;
    margin: 5px;
}

.btn-reserva { 
    width: 100%;
    
}

a{
 color: black;
}

label, .nav-item {
    font-weight: bold;
}

.tab-content {
    padding-top: 10px;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: gray;
    margin-bottom: 0;
    margin-top: 10px;
}