$yellow: #ebdb34;
$red: #f50202;
$green: #06f502;
$lightBlue: #646ded;

@mixin margenes ($top, $right, $bottom, $left) {
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}

@mixin padding ($top, $right, $bottom, $left) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

@mixin colorBackground ($color) {
    background-color: $color;
}

body{
    background-color: rgb(172, 177, 179);
}

.jumbotron {
    background-color: $lightBlue;
    text-align: center;
    @include margenes(50px, 0px, 15px, 0px);
}
i{
    color: black;
}

.card-hotel {
    flex: 1 250px;
    margin: 5px;
}

.btn-reserva { 
    width: 100%;
    
}

a{
 color: black;
}

label, .nav-item {
    font-weight: bold;
}

.tab-content {
    padding-top: 10px;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: gray;
    @include margenes(10px, 0px, 0px, 0px);
}