body {
  background-color: #acb1b3;
}
.jumbotron {
  background-color: #646ded;
  text-align: center;
  margin-top: 50px;
  margin-right: 0px;
  margin-bottom: 30px;
  margin-left: 0px;
}
i {
  color: black;
}
.card-hotel {
  flex: 1 250px;
  margin: 5px;
}
.btn-reserva {
  width: 100%;
}
a {
  color: black;
}
label,
.nav-item {
  font-weight: bold;
}
.tab-content {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: gray;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
