@yellow: #ebdb34;
@red: #f50202;
@green: #06f502;
@lightBlue: #646ded;

.margenes (@top: 0px, @right: 0px, @bottom: 0px, @left: 0px) {
    margin-top: @top;
    margin-right: @right;
    margin-bottom: @bottom;
    margin-left: @left;
}

.padding (@top: 0px, @right: 0px, @bottom: 0px, @left: 0px) {
    padding-top: @top;
    padding-right: @right;
    padding-bottom: @bottom;
    padding-left: @left;
}

.colorBackground (@color: white) {
    background-color: @color;
}

body {
    .colorBackground(#acb1b3); }
  
  .jumbotron {
    background-color: @lightBlue;
    text-align: center;
    .margenes(50px, 0px, 30px, 0px) }
  
  i {
    color: black; }
  
  .card-hotel {
    flex: 1 250px;
    margin: 5px; }
  
  .btn-reserva {
    width: 100%; }
  
  a {
    color: black; }
  
  label, .nav-item {
    font-weight: bold; }
  
  .tab-content {
    .padding(10px, 0px, 0px, 0px) }
  
  footer {
    padding: 10px 10px 0 10px;
    background-color: gray;
    .margenes(10px, 0px, 0px, 0px) }